PAYMENT_PORT=9091
DATABASE_URL=postgres://postgres:postgres@postgres:5432/spe?sslmode=disable
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
JWT_SECRET=dG9waWNhdGVpZGVhc3VjaGF0ZWJpcmRzbHVja2V4YWN0c2VwYXJhdGVwaW5lbW9kZWw
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=payment.transaction-events
CHECK_STATUS_CACHE_TTL_SECONDS=30
